.Book-Img {
    background-color: #2C6B5A;
    height: 100vh;
}

.Book-Img-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-left: 30%;
    margin-right: 30%;
}

.Book-Img-Title {
    align-self: flex-start;
    font-weight: bold;
    font-size: 40px;
    color: #2C6B5A;
    margin-left : 4%;
    margin-top : 2%;
}

.Book-Img-Upload {
    background-color: #74AC4C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 5%;
}

.Book-Img-Upload:hover {
    background-color: #2C6B5A;
}

.Book-Img-document-input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #74AC4C;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    color:#2C6B5A
}

.Book-Img-document-input::-webkit-file-upload-button {
    background-color: #74AC4C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 5%;
}

.Book-Img-document-input::-webkit-file-upload-button:hover {
    background-color: #2C6B5A;
}

.Book-Img-message {
    color: #2C6B5A;
    font-weight: bold;
    margin-bottom: 2%;
}