/* Parent Components */
.right-side-inner {
    align-items: center;
    width: 94%;
    height: 96%;
    border-radius: 20px;
    background-color: white;
}

.right-side-inner header {
    background-color: #2C6B5A;
}

/* Child Components */
.register-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.register-header img {
    width: 110px;
    height: auto;
    padding-bottom: 10px;
}

.register-header p {
    color: #2C6B5A;
    font-weight: 700;
    font-size: large;
}

/* Child Components */
.right-side-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.register-title {
    margin-bottom: 15px;
}

.password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 28%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #74AC4C;
}

.login-button {
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #74AC4C;
    width: 25%;
    height: 30px;
    margin-top: 4%;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
    box-shadow: none;
}

.register-button:hover {
    background-color: #2C6B5A;
}

.login-username,
.login-password {
    font-weight: bold;
    color: #74AC4C;
}

/* Parent Components */
.right-side-inner {
    align-items: center;
    width: 94%;
    height: 96%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.right-side-inner header {
    background-color: #2C6B5A;
}

/* Child Components */
.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.login-header img {
    width: 110px;
    height: auto;
    padding-bottom: 10px;
}

.login-header p {
    color: #2C6B5A;
    font-weight: 700;
    font-size: large;
}

/* Child Components */
.right-side-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.login-title {
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: 700;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2C6B5A;
    margin-top: 1%;
    width: 100%;
}

.username-input,
.password-input {
    border-radius: 10px;
    border-color: #74AC4C;
    background-color: white;
    width: 50%;
    height: 35px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: border-color 1s;
}

.password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.password-input {
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 28%;
    top: 55%;
    margin-top: -0.2%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #74AC4C;
}

.login-button {
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #74AC4C;
    width: 25%;
    height: 30px;
    margin-top: 4%;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
    box-shadow: none;
}

.register-redirect {
    font-weight: bold;
    margin-top: 10px;
}

.register-redirect a {
    color: blue;
}

.login-button:hover {
    background-color: #2C6B5A;
}

.login-username,
.login-password {
    font-weight: bold;
    color: #74AC4C;
}

.username-input:focus,
.password-input:focus {
    border-color: #74AC4C;
}