.home-main {
    background-image: url('/public/home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    position: relative;
    
}
.home-navbar{
    position: relative; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #ffffff ;
    color: white; 
    height: 100px;

}
.home-leftside{

width: 400px;
}
.home-logo-navbar{
width: 100px;
height: 70px;
margin-top:3px ;
object-fit: contain;
display: block;
margin-bottom: 0px;

}
.home-logo-navbar-name{
    width: 100px;
    height: 20px;
    object-fit: contain;
    margin-left: 2px;
    margin-top: 0px;
    object-position: left;
    display: block;

}
.home-middleside{
color: black;
display: flex;
width: 710px;
margin-top: 15px;
}
.home-rightside{
 color: white;
 justify-content:space-between;
 display: flex;
 margin-right: 15px;
 width: 400px;
 margin-top: 15px;

}
.home-search-icon{
width: 30px;
height: 30px;
object-fit: contain;
}
.home-searchbutton{
    background-color: transparent;
    border: none;
    height: 65px;
    margin-right: 30px;
    position: absolute;
    margin-left:   165px;

    
}
.home-singin-up{
    border-radius: 15px;
    border: none;
    color:  white;
    background-color:#397d08;
    width: 150px;
    height: 40px;
    transition: background-color 1s;
    margin-top: 10px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-singin-up:hover{
    background-color: #265305;
    color: white;
    border:none;
}
.home-singin-up:active{
    opacity: 0.5;

}
.home-middleside-button{
   font-family: poppins, sans-serif;
    font-size: 18px;
    border: none;
    color: #2C6B5A;
    background-color:transparent;
    width: 100px;
    height: 30px;
    transition: background-color 1s;
    margin-top: 15px;
   border-bottom: 1px solid #397e07;
    width: 100px;
}
.home-middleside-button:hover{
    color: #74AC4C;

}
.home-homephoto{
    display: block; 
    width: 100%;
    height: auto; 

}
.home-background-container {
    position: relative;
}
.home-search-container{
    height: 35px;
    color :black;
    margin-top: 14px;
    width: 200px;
    border: 1px solid;
    border-color: white;
    background-color: white ;
    border-radius: 15px;
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(10, 187, 51, 0.4);;
}
.home-quote{
color: white;
position:absolute;
top: 250px;
left: 50px;
right: 800px;
bottom: 0;
font-size: 300%;
}
.home-donate-button{
position: relative;
color: aliceblue;
background-color: #397d08;
top:400px;
left: 300px;
right:0px;
bottom: 0;
width: 200px;
height: 50px;
border: none;
font-size: 25px;
border-radius: 18px;
}
.home-donate-button:hover{
    background-color: #2e6407;
    color: white;
    border:none;
}
.home-donate-button:active{
    opacity: 0.5;

}
.home-nd{margin-top: 600px;
    background-color:white;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto  auto auto;
}
.home-foodicon{
    width: 100px;

    top: 100px;
    left: 100px;


}

.home-dropdown {
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 18px;
    border: none;
    color: #2C6B5A;
    background-color:white;
    width: 100px;
    height: 30px;
    transition: background-color 1s;
    margin-top: 15px;
    border-bottom: 1px solid #397e07;
    width: 100px;
    margin-left: 10%;
}

.home-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: none;
}

.home-dropdown:hover .dropdown-content {
    display: block;
    
}
.home-action-button{
    border:none;
}
.home-action-button:hover{
border-bottom:1px solid #74AC4C;
}
.home-words{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.home-title{
    font-size: 20px;
    position: relative;
    bottom: 80px;
    color: black;
    right:60px;
    font-family:  Arial, sans-serif;
}
.home-saying{
    font-size: 12px;
    position: relative;
    bottom: 30px;
    color: grey;
    right:20px;
    left: 80px;
    font-family:  Arial, sans-serif;
    width: 280px;
    display: block;
    
}