@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.view-requests-main {
    /* background-image: url('/public/home.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    font-family: Roboto;

}

.view-requests-navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #ffffff;
    color: white;
    height: 100px;

}

.view-requests-leftside {

    width: 400px;
}

.view-requests-logo-navbar {
    width: 100px;
    height: 70px;
    margin-top: 3px;
    object-fit: contain;
    display: block;
    margin-bottom: 0px;

}

.view-requests-logo-navbar-name {
    width: 100px;
    height: 20px;
    object-fit: contain;
    margin-left: 2px;
    margin-top: 0px;
    object-position: left;
    display: block;

}

.view-requests-middleside {
    color: black;
    display: flex;
    width: 710px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.view-requests-rightside {
    color: white;
    display: flex;
    margin-right: 15px;
    width: 250px;
    margin-top: 15px;
   

}

.view-requests-search-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.view-requests-searchbutton {
    background-color: transparent;
    border: none;
    height: 65px;
    margin-right: 30px;
    position: absolute;
    margin-left: 165px;


}

.view-requests-singin-up {
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #397d08;
    width: 150px;
    height: 40px;
    transition: background-color 1s;
    margin-top: 10px;
    font-size: 18px;
    font-family: Roboto;
    padding-top: 5px;
}

.view-requests-singin-up:hover {
    background-color: #265305;
    color: white;
    border: none;
}

.view-requests-singin-up:active {
    opacity: 0.5;

}

.view-requests-middleside-button {
    font-family: poppins, sans-serif;
    font-size: 18px;
    border: none;
    color: #2C6B5A;
    background-color: transparent;
    width: 100px;
    height: 30px;
    transition: background-color 1s;
    margin-top: 15px;
    border-bottom: 1px solid #397e07;
    width: 100px;
}

.view-requests-middleside-button:hover {
    color: #74AC4C;

}

.view-requests-homephoto {
    display: block;
    width: 100%;
    height: auto;

}

.view-requests-background-container {
    position: relative;
}

.view-requests-search-container {
    height: 35px;
    color: black;
    margin-top: 14px;
    width: 200px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    border-radius: 15px;
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(10, 187, 51, 0.4);
    ;
}

.view-requests-quote {
    color: white;
    position: absolute;
    top: 250px;
    left: 50px;
    right: 800px;
    bottom: 0;
    font-size: 400%;

}

.view-requests-donate-button {
    position: relative;
    color: aliceblue;
    background-color: #397d08;
    top: 400px;
    left: 300px;
    right: 0px;
    bottom: 0;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 25px;
    border-radius: 18px;
}

.view-requests-donate-button:hover {
    background-color: #2e6407;
    color: white;
    border: none;
}

.view-requests-donate-button:active {
    opacity: 0.5;

}

.view-requests-nd {
    /* position: fixed; */
    left: 0;
    right: 0;
    margin-top: 600px;
    background-color: white;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.view-requests-foodicon {
    width: 100px;

    top: 100px;
    left: 100px;

}

.view-requests-dropdown {
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 18px;
    border: none;
    color: #2C6B5A;
    background-color: white;
    width: 100px;
    height: 30px;
    transition: background-color 1s;
    margin-top: 15px;
    border-bottom: 1px solid #397e07;
    width: 100px;
    margin-left: 10%;
}

.view-requests-dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: none;
}

.view-requests-dropdown:hover .dropdown-content {
    display: block;

}

.view-requests-action-button {
    border: none;
}

.view-requests-action-button:hover {
    border-bottom: 1px solid #74AC4C;
}

.view-requests-words {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 500;
    margin-top: 15px;
}

.view-requests-title {
    font-size: 23px;
    position: relative;
    bottom: 75px;
    color: black;
    right: 0%;
    left: 5%;
    font-family: Roboto;
    font-weight: 400;
    display: inline;
    margin-left: auto;
    margin-right: 0;
}

.view-requests-saying {
    font-size: 15px;
    position: relative;
    bottom: 40px;
    color: grey;
    right: 20px;
    left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    width: 255px;
    text-align: left;
    display: block;

}

.view-requests-profilebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    /* Adjust the size as needed */
    height: 70px;
    border-radius: 50%;
    /* Makes it circular */
    overflow: hidden;
    /* Clip the image to the circular shape */
    object-fit: cover;
    margin-right: 2%;
}


.view-requests-category-button {
    border: 1.5px solid #000;
    /* Add your desired border color */
    padding: 5px 10px;
    /* Adjust padding as needed */
    background-color: #f9f9f9;
    /* Set a background color */
    cursor: pointer;
    /* Show pointer cursor on hover */
    border-radius: 10px;
    position: absolute;
    right: 5rem;
    top: 12rem;
}

.view-requests-body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.view-requests-left {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    padding-left: 5%;
}

.view-requests-right {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
}

.right-subSection{
    width: 80%;
    border: 1px solid #265305;
    overflow-y: auto;
    height: 15%;
}

.LR-subSection{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
    height: fit-content;
    align-items: center;
}

.RR-subSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.categories,
.subCategories,
.setSubject,
.setOrganizationName,
.setMedicalSpeciality,
.selectArea,
.selectGovernorate,
.view-requests-hospitalName-textarea,
.selectSeason {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #265305;
    margin-bottom: 20px;
    border: 2px solid #4F4F4F;
    align-self: center;
}

.categories:hover,
.subCategories:hover,
.categories:focus,
.subCategories:focus,
.setSubject:hover,
.setSubject:focus,
.setOrganizationName:hover,
.setOrganizationName:focus,
.setMedicalSpeciality:hover,
.setMedicalSpeciality:focus,
.selectArea:hover,
.selectArea:focus,
.selectGovernorate:hover,
.selectGovernorate:focus,
.view-requests-hospitalName-textarea:hover,
.view-requests-hospitalName-textarea:focus,
.selectSeason:hover,
.selectSeason:focus {
    border-color: #162D23;
    box-shadow: 0px 0px 10px #162D23;
    outline: none;
}

.categories select,
.subCategories select,
.setSubject select,
.setMedicalSpeciality select,
.selectArea select,
.selectGovernorate select,
.selectSeason select
{
    outline: none;
    box-shadow: none;
}

/* .gender-input */
.view-requests-gender-input {
    border-radius: 10px;
    border-color: #74AC4C;
    background-color: white;
    width: 50%;
    height: 35px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: border-color 1s;
    margin-top: 1%;
    align-self: center;
}
.view-requests-gender-input input[type="checkbox"] {
    accent-color: #74AC4C;
    border: 1px solid #74AC4C;
    margin-left: 5%;
    margin-right: 2%;
    width: 20px;
    height: 20px;
}
.view-requests-gender-input input[type="checkbox"]:checked {
    accent-color: #74AC4C;
    border: 1px solid #74AC4C;
    background-color: #74AC4C;
}
.view-requests-gender-input:focus {
    border-color: #74AC4C;
}

/*Filter item styles*/


.filter-title {
    font-weight: bold;
    font-size: x-large;
    /* position: absolute; */
    /* align-items: right; */
    font-family: "Quicksand";
    color: #265305;
}


/*Donation cards styles*/
.donations-home {
    width: 100%;
}

.donations-list {
    width: 100%;
}

.donations-title {
    font-weight: bold;
    font-size: x-large;
    /* position: absolute; */
    /* align-items: center; */
    /* margin-left: 27%; */
}


.donation-details {}

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #265305;
}


/*styles of the cards*/
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;

}

/* donations previews / list */
.donation-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    padding: 1.5rem;
    /* Equivalent to p-6 */
    border-radius: 1rem;
    /* Equivalent to rounded-lg */
    background-color: rgba(226, 232, 240, 0.8);
    margin-top: 3%;


}

.donation-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.DonationsList-donation-preview-title {
    color: green;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: bold;

}

.view-button {
    display: inline-block;
    background-color: #00bcd4;
    /* Cyan color */
    color: white;
    border-radius: 0.25rem;
    /* Rounded corners */
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    /* Add rounded corners */
    cursor: pointer;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.view-button:hover {
    background-color: #0097a7;
}